:root {
    --clr-dark: #180d04;
    --clr-dark-transparent: rgba(24, 13, 4, .8);
    --clr-primary: #BFBFC1;
    --clr-primary-dark: #6F4E37;
    --clr-secondary: #e0e0e0;
    --clr-primary-light: #e7dfb1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/*
body {
    font-size: 1.5em;
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
}

.blockquote {
    padding-top: 1.5rem;
}

.btn-group.dropup {
    position: fixed;
    left: 3px;
    bottom: 3px;
    z-index: 999;
}

nav {
    z-index: 9999;
}

.bloco img {
    width: 50%;
    max-width: 100%;
    margin-bottom: 2rem;
    border: 8px solid var(--clr-primary-light);
}

p+img,
img+p {
    margin-left: 2rem;
}

h2 {
    margin: 2rem 0;
}

p {
    margin-bottom: 1rem;
}

.navbar {
    background-color: var(--clr-dark);
}

.secao {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    padding: 5rem 0;
}

#introducao,
#documentario,
#autoria,
.modal-content {
    background-color: var(--clr-secondary);
}

.modal-header {
    padding: 1rem 1rem 0 1rem;
}

.modal-body {
    padding: 0 1rem;
}

.modal-footer {
    padding: 10px;
}

#introducao img,
#documentario img,
#autoria img,
#documentario iframe {
    border: 8px solid var(--clr-primary-dark);
}

#historia,
#galeria,
#creditos,
footer {
    background-color: var(--clr-dark);
    color: var(--clr-primary);
}

.pagina-inicial h1 {
    color: transparent;
    font-size: clamp(1.6rem, 10vw, 6rem);
    line-height: 60%;
    z-index: 999;
}

.pagina-inicial {
    text-align: center;
    position: relative;
    background: url('../images/reuniao-comunidade-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pagina-inicial::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: radial-gradient(var(--clr-dark-transparent), var(--clr-dark));
}

.nome-quilombo {
    animation: entrarNomeComunidade 300ms ease-in-out 1s normal forwards;
    font-family: "Rubik Moonrocks", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
}

.nome-deBarrocas {
    font-family: "Rubik", serif;
    animation: entrarNomeComunidade 300ms ease-in-out 1s normal forwards;
    font-size: .6em;
    font-style: normal;
    font-weight: 500;
}

.bloco {
    display: flex;
    margin-top: 2rem;
}

.bloco img+img {
    margin-left: 1rem;
}

.bloco img+div {
    margin-left: 1rem;
}

#documentario .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
/*
}

/* Then style the iframe to fit in the container div with full height and width */
/*
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.grade-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#galeria img {
    width: 48%;
    /* width: 49%; */
/* margin: 0; */
/*
}

.bloco-autoria {
    display: initial;
    margin-top: 2rem;
}

.bloco .author-img {
    /* display: inline-block; */
/*
    width: 300px;
}

footer {
    padding: 3rem 0;
}

footer .container {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 992px) {
    .bloco {
        flex-direction: column;
    }

    .bloco img {
        width: auto;
        margin-left: 0;
    }

    .bloco img+div {
        margin-left: 0;
    }

    .bloco .author-img {
        width: 270px;
        height: 320px;
    }

    .bloco p {
        margin-left: 0;
    }

    #galeria img {
        width: auto;
    }
}

/* ANIMACOES */
/*
@keyframes entrarNomeComunidade {
    0% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    10% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: -webkit-linear-gradient(135deg, transparent, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    90% {
        background: -webkit-linear-gradient(135deg, transparent, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(135deg, var(--clr-primary-dark), var(--clr-primary-light), var(--clr-primary-dark));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}*/