:root {
    /* Color palette */
    --clr-secondary: #e0e0e0;

    /* Spacing */
    --spacing-md: 10px;
    --spacing-lg: 1rem;
}

/* ========== Modal Styles ========== */
.modal-header {
    padding: var(--spacing-lg) var(--spacing-lg) 0 var(--spacing-lg);
}

.modal-body {
    padding: 0 var(--spacing-lg);
}

.modal-footer {
    padding: var(--spacing-md);
}